<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="RPP_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="LINK1R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK1R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LINK2P">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK2P']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LINK3P">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK3P']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LINK4R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK4R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LINK5R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK5R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LINK6R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK6R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="LINK7R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['LINK7R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
